table{
	
	border:solid aqua;
	background-color: green;
	width:5cm;
	height:5cm;
	position: absolute;
	left:3cm;
	top:1cm;
}
tr{
	height: 8mm;
	
}
input[type="text"]
{
	width:10cm;
	height:6mm;
	background-color: lightpink;
}